  .experience-section {
      text-align: left;
      max-width: 100%;
    }
    
    .experience-content {
      margin: 0 auto;
      border-bottom: 1px solid #66cfff; 
      border-top: 1px solid #66cfff;
      margin-left: 150px;
      margin-right: 150px;
    }
    
    .experience-content h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    .job-experience {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }
    
    .company-logo {
      width: 100px;
      height: auto;
      margin-right: 20px;
    }
    
    .job-details {
      flex-grow: 1;
      font-size: 16px;
    }
    
    .job-details h2 {
      font-size: 24px;
      margin-bottom: 5px;
      color: #333;
    }
    
    .job-period {
      font-size: 12px;
      color: #777;
      font-style: italic;
    }
    
    .job-details ul {
      list-style-type: disc;
      margin-left: 0px;
      max-width: 100%;
      font-size: 16px;
      color: #666;
    }
    
    .innovety-logo {
      width: 100px;
      margin-right: 53px;
    }
    
    .trella-logo {
      width: 65px;
      margin-right: 67px;
      margin-left: 18px;
    }
    
    .benya-logo {
      width: 120px;
      margin-right: 30px;
    }
    
    .experience-section p {
      font-size: 16px;
      color: #666;
      line-height: 1.6;
    }

    @media only screen and (max-width: 600px) {
      .experience-content {
        margin-left: 10px;
        margin-right: 10px;
      }
    
      .experience-content h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .experience-content p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    
      .job-experience {
        align-items: flex-start;
      }
    
      .job-details {
        font-size: 14px;
      }
    
      .job-details h2 {
        font-size: 16px;
        margin-bottom: 5px;
      }
    
      .job-period {
        font-size: 12px;
      }
    
      .job-details ul {
        font-size: 14px;
      }

      .experience-content {
        border-top: none;
      }

      .job-experience {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
      }

    }