.navbar {
  width: 100%;
  background-color: transparent;
  padding: 30px 0;
  border-bottom: 1px solid #66cfff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #163d5e;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-links button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #163d5e;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.navbar-links button:hover {
  border-color: #79c0e0;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .navbar-content {
    padding: 0 5px;
  }

  .navbar-brand {
    font-size: 14px;
  }

  .navbar-links button {
    font-size: 12px;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-links button {
    width: 100%;
    text-align: left;
    border: none;
    padding: 15px;
    background-color: #ffffff;
    color: #163d5e;
    border-bottom: 1px solid #66cfff;
  }

  .navbar-dropdown-toggle {
    display: block;
    background: none;
    border: none;
    color: #163d5e;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .navbar-dropdown-toggle:hover {
    color: #79c0e0;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 601px) {
  .navbar-dropdown-toggle {
    display: none; /* Hide the toggle button on larger screens */
  }
}